    p {
        
background-color: black;


text-align: left;
text-align: center

    }

    h1 {
        
    color: cornflowerblue;



    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;


    font:italic bold 20px 
     



 }